backcall
decorator
jupyterlab
parso
pexpect
pickleshare
prompt-toolkit
ptyprocess
Pygments
python-dateutil
pyzmq
six
tornado
traitlets
wcwidth
python-dotenv
ipyplot
torch
torchvision
ftfy
regex
tqdm
pandas
fastparquet
pyarrow
